{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
	<link href="https://fonts.googleapis.com/css?family=Lato|Lilita+One" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "css/styles.css" %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">EcubeMX</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Torneos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Participantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tiendas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sponsors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar">
      <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
<br>
<div class="row">
  <div class="col-6 col-md-2"></div>
  <div class="col-12 col-md-8">

  	<h1 class="text-center FontTitle">{{ event.name }}</h1>
  	<hr>
  	<img src="{{ event.img_event.url }}" class="img-thumbnail rounded" alt="">
  	<p class="FontContent">{{ event.description }}</p>
  	

  	<div class="row align-items-center">
  		<div class="col-12 col-md-12 align-content-center">
  			<p class="text-center">
  				<button for="" class="btn btn-success">
  					<b>Inicia</b> <span class="badge badge-light">{{ event.start }}</span>
  				</button>
  				<button for="" class="btn btn-danger">
  					<b>Termina</b> <span class="badge badge-light">{{ event.finish }}</span>
  				</button>
  			</p>
  		</div>
  	</div>

  	<div class="row">
  		<div class="col-12 col-md-12">
  			<table class="table table-hover">
  			<tbody>
			    <tr>
			      <td><i class="fas fa-map-marked-alt"></i> {{ event.address }}</td>
			    </tr>
			    <tr>
			      <td><i class="fas fa-place-of-worship"></i> {{ event.place }}</td>
			    </tr>
			    <tr>
			      <td><i class="fas fa-cube"></i> {{ event.categories }}</td>
			    </tr>
			    <tr>
			      <td><i class="fas fa-user-circle"></i> {{ event.sponsor }}</td>
			    </tr>

  </tbody>
</table>
  		</div>
  	</div>
  	
  	
  </div>
  <div class="col-6 col-md-2"></div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>