{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<h1>HOla</h1>
	{{ event.name }}
	<img src="{{ event.img_event.url }}" alt="">
	<p>{{ event.description }}</p>
	<p>{{ event.start }}</p>
	<p>{{ event.finish }}</p>
	<p>{{ event.address }}</p>
	<p>{{ event.place }}</p>
	<p>{{ event.categories }}</p>
	<p>{{ event.official }}</p>
	<p>{{ event.sponsor }}</p>

</body>
</html>